@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar { width: 5px; height: 5px; }
::-webkit-scrollbar-track { background: #0f1117; }
::-webkit-scrollbar-thumb { background: #1e2535; border-radius: 99px; }

* { box-sizing: border-box; }
